h2 {
    color:#00f0ff;
    margin-bottom: 5px;
}

h6 {
    color:#888888;
    margin-top: 15px;
    margin-right: 30px;
    margin-bottom: 5px;
    text-align: right;
}

a {
    color: #550000;
}

p {
    margin: 10px 20px;
}

li {
    margin: 10px;
}

.content {
    margin: 0 auto;
    padding: 10px 20px;
    width:800px;
    height:600px;
    background-color:#444444;
    color:#f0f0f0;
}
.articles_list a {
    color: white;
}
.articles_list a:visited {
    color: white;
}
.articles_list a:active {
    color: white;
}
.articles_list {
    margin-left: 30px;
    margin-top: 30px;
}